<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>dev.kejadlen.giphy</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>0855551C-AA78-4180-93C5-642EB985FCF9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E5E17546-DD67-445C-B05F-C0062F61AAB2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D2CB9E7D-89E6-4385-8888-78E96A47477F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3CFF7034-AC3A-4092-A84D-2551B193489F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>AF19AB5C-4782-4525-A37E-190964E2FD82</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>21CA0C10-1AC1-44DA-A415-E53C081F77AE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EDF7EAAF-C903-49E8-AD44-E92D87435694</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>50084E29-723A-405B-935F-415D34AD03F4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0855551C-AA78-4180-93C5-642EB985FCF9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5C659BBC-4632-4F24-8A0F-43ED60BDE8F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>65A7F2ED-1545-4335-A9C8-1DD24D393F51</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6EA7A116-91FB-4255-B91B-4E4637002FEF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6EA7A116-91FB-4255-B91B-4E4637002FEF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>82301AFA-8982-4D55-9D04-9790E094DE33</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7CA423A3-04EC-427D-A864-A120A3FD6800</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7CA423A3-04EC-427D-A864-A120A3FD6800</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>50084E29-723A-405B-935F-415D34AD03F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>82301AFA-8982-4D55-9D04-9790E094DE33</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>50084E29-723A-405B-935F-415D34AD03F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8E42C033-455B-4903-9159-27D8D3714DD1</key>
		<array/>
		<key>9DBB8987-1232-4D3C-B815-8BC5E123EB75</key>
		<array/>
		<key>E5E17546-DD67-445C-B05F-C0062F61AAB2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>21CA0C10-1AC1-44DA-A415-E53C081F77AE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EDF7EAAF-C903-49E8-AD44-E92D87435694</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E42C033-455B-4903-9159-27D8D3714DD1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D2ABBACA-4AC5-49C4-AD6A-552E5931333F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9DBB8987-1232-4D3C-B815-8BC5E123EB75</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5F6A988A-BC25-4537-A143-CE6298321C8A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alpha Chen</string>
	<key>description</key>
	<string>Search Giphy for animated gifs</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Giphy</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>columncount</key>
				<integer>3</integer>
				<key>filterable</key>
				<true/>
				<key>fixedorder</key>
				<false/>
				<key>imageaspect</key>
				<integer>0</integer>
				<key>inputfile</key>
				<string>./giphy-alfredworkflow</string>
				<key>inputtype</key>
				<integer>1</integer>
				<key>loadingtext</key>
				<string></string>
				<key>showsubtitles</key>
				<true/>
				<key>showtitles</key>
				<true/>
				<key>subtitlesinfooter</key>
				<false/>
				<key>titlesinfooter</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.grid</string>
			<key>uid</key>
			<string>6EA7A116-91FB-4255-B91B-4E4637002FEF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>giphy</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search Giphy</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>65A7F2ED-1545-4335-A9C8-1DD24D393F51</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:giphy_url}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>8E42C033-455B-4903-9159-27D8D3714DD1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>curl "$giphy_url" --silent --output "$alfred_workflow_cache/giphy.gif"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>21CA0C10-1AC1-44DA-A415-E53C081F77AE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:copy}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>url</string>
						<key>outputlabel</key>
						<string>url</string>
						<key>uid</key>
						<string>D2ABBACA-4AC5-49C4-AD6A-552E5931333F</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:copy}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>gif</string>
						<key>outputlabel</key>
						<string>gif</string>
						<key>uid</key>
						<string>5F6A988A-BC25-4537-A143-CE6298321C8A</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>EDF7EAAF-C903-49E8-AD44-E92D87435694</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>giphy_url</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E5E17546-DD67-445C-B05F-C0062F61AAB2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript -e  "set the clipboard to (read (POSIX file \"$alfred_workflow_cache/giphy.gif\") as JPEG picture)"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9DBB8987-1232-4D3C-B815-8BC5E123EB75</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>copy</key>
					<string>url</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>82301AFA-8982-4D55-9D04-9790E094DE33</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>gif</string>
						<key>outputlabel</key>
						<string>gif</string>
						<key>uid</key>
						<string>D2CB9E7D-89E6-4385-8888-78E96A47477F</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>browser</string>
						<key>outputlabel</key>
						<string>browser</string>
						<key>uid</key>
						<string>AF19AB5C-4782-4525-A37E-190964E2FD82</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>0855551C-AA78-4180-93C5-642EB985FCF9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>50084E29-723A-405B-935F-415D34AD03F4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>copy</key>
					<string>gif</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7CA423A3-04EC-427D-A864-A120A3FD6800</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>qlmanage -p "$alfred_workflow_cache/giphy.gif" &gt;&amp; /dev/null</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9B2E595D-F5A2-418B-91DD-370480080083</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3CFF7034-AC3A-4092-A84D-2551B193489F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>5C659BBC-4632-4F24-8A0F-43ED60BDE8F1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0855551C-AA78-4180-93C5-642EB985FCF9</key>
		<dict>
			<key>xpos</key>
			<real>640</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>21CA0C10-1AC1-44DA-A415-E53C081F77AE</key>
		<dict>
			<key>xpos</key>
			<real>900</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>3CFF7034-AC3A-4092-A84D-2551B193489F</key>
		<dict>
			<key>xpos</key>
			<real>715</real>
			<key>ypos</key>
			<real>535</real>
		</dict>
		<key>50084E29-723A-405B-935F-415D34AD03F4</key>
		<dict>
			<key>xpos</key>
			<real>540</real>
			<key>ypos</key>
			<real>445</real>
		</dict>
		<key>5C659BBC-4632-4F24-8A0F-43ED60BDE8F1</key>
		<dict>
			<key>xpos</key>
			<real>575</real>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>65A7F2ED-1545-4335-A9C8-1DD24D393F51</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>6EA7A116-91FB-4255-B91B-4E4637002FEF</key>
		<dict>
			<key>xpos</key>
			<real>205</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>7CA423A3-04EC-427D-A864-A120A3FD6800</key>
		<dict>
			<key>xpos</key>
			<real>445</real>
			<key>ypos</key>
			<real>495</real>
		</dict>
		<key>82301AFA-8982-4D55-9D04-9790E094DE33</key>
		<dict>
			<key>xpos</key>
			<real>445</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>8E42C033-455B-4903-9159-27D8D3714DD1</key>
		<dict>
			<key>xpos</key>
			<real>1155</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>9B2E595D-F5A2-418B-91DD-370480080083</key>
		<dict>
			<key>xpos</key>
			<real>930</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>9DBB8987-1232-4D3C-B815-8BC5E123EB75</key>
		<dict>
			<key>xpos</key>
			<real>1155</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>E5E17546-DD67-445C-B05F-C0062F61AAB2</key>
		<dict>
			<key>xpos</key>
			<real>820</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>EDF7EAAF-C903-49E8-AD44-E92D87435694</key>
		<dict>
			<key>xpos</key>
			<real>1055</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>BROWSER</key>
		<string>true</string>
		<key>LIMIT</key>
		<string>8</string>
	</dict>
	<key>version</key>
	<string>4.0.4</string>
	<key>webaddress</key>
	<string>https://github.com/kejadlen/giphy.alfredworkflow</string>
</dict>
</plist>
