<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.arbitrarydefinitions.giphy</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>0744A6DC-F5C1-4D81-8056-8C281A5494D2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>29326003-8B28-4D06-ACFD-00F6C8214ACB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alpha Chen</string>
	<key>description</key>
	<string>Search Giphy for animated gifs</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Giphy</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>giphy</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching Giphy...</string>
				<key>script</key>
				<string>ruby giphy.rb {query}</string>
				<key>title</key>
				<string>Search Giphy</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0744A6DC-F5C1-4D81-8056-8C281A5494D2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>29326003-8B28-4D06-ACFD-00F6C8214ACB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0744A6DC-F5C1-4D81-8056-8C281A5494D2</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>29326003-8B28-4D06-ACFD-00F6C8214ACB</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/kejadlen/giphy.alfredworkflow</string>
</dict>
</plist>
